html,body, .container-fluid, #dg-wapper, #dg-designer{overflow: hidden;}
html,body.dg_screen, body.dg_screen .container-fluid, body.dg_screen #dg-wapper, body.dg_screen #dg-designer{height: 100%;}
.col-center {
    height: 100%;
}
body{font-size:12px;min-width:auto}
div#dg-wapper{padding:0;margin:0;min-width:auto}
#modal-product-info .product-detail{width:100%}
a:hover{color:#3E454F}
#dg-designer .col-left {
    width: 76px;
    background-color: #3e454f;
    height: 100%;
    top: 62px;
}
.header-logo {
    float: left;
    width: 77px;
    height: 100%;
    border-right: 1px solid #cccccc7a;
}
.col-left #dg-left{padding:0;width:100%}
#dg-designer .col-left .dg-box{background:none;border:0;border-radius:0;margin:0;padding:0;width: 100%;}
#dg-designer .col-left .dg-box.div-layers{display:none}
#dg-designer .col-left .menu-left > li{background:none;border-bottom:1px solid #292f38}
#dg-designer .col-left .menu-left > li a {
    color: #fff;
    text-align: center;
    margin: 0;
    text-shadow: none!important;
    width: 100%;
    display: block!important;
    padding: 18px 0!important;
    line-height: normal;
}
#dg-designer .col-left .menu-left > li a:hover,#dg-designer .col-left .menu-left > li a.active{background-color:#43b9d3}
#dg-designer .col-left .menu-left > li .tooltip-inner{white-space:nowrap}
#dg-designer .col-left .menu-left > li a i {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: auto;
    line-height: 100%;
    width: auto;
}
#dg-designer .col-left .menu-left > li a i:before {
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 100%;
}
#dg-designer .col-left .menu-left > li a span {
    clear: both;
    text-align: center;
    display: block;
    font-size: 11px;
    font-weight: 300;
    line-height: 15px;
    padding: 4px 4px 0 4px;
}
.tool-header #dg-sidebar .dg-tools > span.col-line {
    border-left: 1px solid #ccc;
    padding: 0;
    margin: 0 10px;
    height: 42px;
    overflow: hidden;
    position: relative;
    top: 10px;
}
.tool-header #dg-sidebar .dg-tools > * svg {
    position: relative;
    top: 2px;
}
.toolbar-left {
    padding-top: 22px;
    float: left;
    padding-left: 15px;
}
.option-panel-heading a {
    font-size: 12px;
    font-weight: normal;
}
.row.product-elements {
    padding-left: 0;
}
ul.menu-left {
    background: none!important;
    width: 100%!important;
}
.col-center{background:url(../images/bg.png);display:inline-block}
.tool-header{background-color:#f8f8f8;color:#333;z-index: 100;box-shadow:0 2px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);position:absolute;top:0;left:0;width:100%;height:62px}
.dropdown-product li a{padding:6px 10px}
.dropdown-product li a span{padding-left:6px}
.dropdown-product li a i{font-size:14px}
.tool-header a{color:#333;}
.product-detail a.product-detail-title{float:left;padding-right:10px}
.product-detail a.view_change_products{margin-top:13px;display:inline-block;font-size:12px;color:#fff;padding:5px 8px;border-radius:4px;background-color:#585f6a}
#dg-sidebar {
    right: 0;
    float: none;
    top: 5px;
    overflow: hidden;
    display: inline-block;
    position: static;
}
.btn.btn-gray {
    background-color: #3E454F;
    color: #fff;
}
.tool-header .tools-btn {
    margin-right: 15px;
    margin-top: 14px;
}
.tool-header #dg-sidebar .dg-tools > * {
    background: none;
    color: #000;
    border: 0;
    text-align: center;
    line-height: 22px;
    padding: 9px 14px;
    float: left;
}
.tool-header #dg-sidebar .dg-tools > :hover{color:#333}
.tool-header #dg-sidebar .dg-tools > * small {
    clear: both;
    display: block;
}
.div-design-area#design-area {
    margin-top: 62px;
    display: inline-block;
    overflow: auto;
    width: calc(100% - 366px);
    float: right;
    margin-right: -15px;
    height: calc(100% - 70px);
}
#app-wrap .product-design {
    overflow: visible;
    user-select: none;
}
.popover-content .popover-content {
    padding: 6px 0;
}
#app-wrap {
    height: 100%;
    display: flex;
    min-height: 500px;
}
#app-wrap .labView {
    margin: auto;
}
#product-list-colors{width:100%}
div#dg-help-functions{display:none;right:-2px;top:70px}
#product-thumbs .box-thumb {
    font-size: 12px;
    display: block;
    background-color: #fff;
    padding: 12px;
    border: 0;
    clear: none;
}
.product-gallery-thumbs {
    position: absolute;
    bottom: 0px;
    left:76px;
    width: 319px;
    z-index: 1000;
    background-color:#fafafa;
    border-top: 1px solid #f1f1f1;
    padding: 13px 5px;
}
.product-gallery .product-gallery-thumbs {
    display: none;
}
.hide-menu .product-gallery-thumbs {
    border: 0;
    background: none;
}
.product-gallery-thumbs a.box-gallery {
    font-size: 12px;
    font-weight: 300;
    position: relative;
    float: left;
}
.product-gallery-thumbs a.box-gallery img, .product-gallery-thumbs a.box-gallery canvas {
    width: auto;
    height: 65px;
    max-width: 65px;
}
.product-gallery-thumbs a.box-gallery span {
    position: absolute;
    top: -26px;
    display: none;
    background-color: #333;
    line-height: 22px;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    padding: 0px 6px;
    z-index: 10;
    left: -2px;
    right: -2px;
}
.product-toolbar-options {
    float: left;
    position: absolute;
    bottom:0px;
    left: 410px;
    z-index: 1000;
}
.product-colors-design > *{padding-left:40px;padding-top:6px}
.product-colors-design .close{position:absolute;right:5px;margin:5px 0;padding:0;color:red}
.product-toolbar {
    margin: auto;
    display: inline-block;
    overflow: hidden;
}
div.changeColorAllArea {
    top: 63px;
    bottom: auto;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    left: 396px;
    position: fixed;
    right: 0px;
    border-radius: 0;
    width: auto;
    height: 50px;
padding-left: 40px;
}
.changeColorAllArea .popover {
    left: 10px!important;
    top: 54px!important;
    margin-top: 0;
}
.changeColorAllArea .popover .popover-title, .changeColorAllArea .popover .arrow{display: none;}
#product-thumbs {
    float: left;
    right: 75px;
    width: auto;
    z-index: 10000;
    background: none;
    height: auto;
    position: fixed;
    top: auto;
    bottom: 72px;
    left: auto;
    border: 1px solid #ddd;
}
body.dg_screen #product-thumbs{
    bottom: 12px;
}
.top-right > a {
    background-color: #fff;
    border: 1px solid #ddd;
    clear: both;
    display: block;
    text-align: center;
    color: #333;
    padding: 4px 15px;
    text-decoration: none;
    margin-bottom: 12px;
    border-radius: 3px;
}
.top-right > a i:before{
    font-size: 24px;
}
.btn-product-color a{overflow:hidden;height:25px;float:left}
.btn-product-color {
    display: inline-block;
    position: relative;
    vertical-align: top;
    top: 0px;
    cursor: pointer;
    line-height: 30px;
}
.btn-product-color .product-color-active {
    font-size: 12px;
    cursor: pointer;
}
.btn-product-color .product-color-active .bg-colors {
    border-radius: 3px;
    overflow: hidden;
    margin-right: 6px;
}
#product-thumbs .box-thumb img{background-color:#fff;padding:4px}
.col-right.col-botton {
    display: none;
    position: absolute;
    top: 68px!important;
    right: 15px;
    width: 320px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16);
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 15px;
}
form#tool_cart {
    display: inline-block;
    padding: 0;
    clear: both;
}
.product-cart{clear:both;display:block;padding-left:6px;overflow:hidden;margin-right:-15px}
#product-price {
    width: 100%;
    margin: 0px 0 15px 0px;
    padding: 0 0 6px 0;
    clear: none;
    display: inline;
    float: left;
}
#product-price .price-restart{float:right;padding-top:12px}
#product-price-sale{font-size:22px}
#product-price .product-price-info {
    float: left;
    width: 60%;
    clear: none;
    display: inline;
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 11px;
    font-weight: 400;
}
#product-price .product-price-info span.badge {
    background-color: transparent;
    color: #666;
}
.product-prices button.btn-addcart{padding:12px 16px;float:right;background:#3E454F;border:0}
.product-price-list {
    float: right;
    padding-bottom: 8px;
    color: #333;
    text-align: left;
}
#product-price .product-price-info i {
    display: none;
}
#product-price-old{color:#797979;clear:both;display:block}
@media screen and (max-width: 750px) {
#product-price .product-price-info{display:none}
.product-prices button.btn-addcart{float:left;margin-left:20px}
.product-cart #product-price{float:left}
#dg-popover > div.popover-content{border:0;display:inline-block;height:auto;margin:0;min-height:auto;width:100%}
}
div#dg-popover {
    position: absolute!important;
    width: auto;
    max-width: none;
    left: 396px;
    border: 0;
    border-radius: 0;
    right: 0;
    top: 62px!important;
    background-color: #fff;
    padding-left: 0;
    margin-left: 0;
    height: 54px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16);
    bottom: auto;
    border-top: 1px solid #ddd;
}
.btn-icon-gray {
    background-color: #3e454f;
    border-radius: 3px;
    padding: 4px 8px;
    margin-left: 15px;
    color: #fff!important;
}
.top-right {
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 100;
}
#dg-popover .arrow,#dg-popover .popover-title{display:none}
#dg-popover > .popover-title{position:absolute;right:2px!important;border:0;top:8px;cursor:pointer;background:#fffafa;display:block;left:auto;width:auto;z-index:10;background:none}
#dg-popover > .popover-title a.popover-close{display:block}
#dg-popover .popover-title span{display:none}
#dg-popover > .popover-content{width: 100%;position:relative;padding:6px 14px!important;border:0!important;float:left;min-height:52px}
#dg-popover .dg-options-toolbar {
    display: inline;
    position: relative;
    float: left;
    width: 100%;
    background-color: #fff;
    padding-left: 30px;
}
.popover-content .dg-options-content > div{display:none}
.popover-content .dg-options-content > div.active{display:block}
.dg-options-toolbar button.btn {
    background: none;
    border: 0;
    padding: 6px 10px;
    box-shadow: none;
    text-shadow: none;
    font-size: 12px;
}
.toolbar-font {
    width: 100%;
}
a#txt-textoptions {
    margin: 0 15px 0 6px;
    width: 80px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: 4px;
    text-align: left;
}
menu.dropdown-toolbar {
    position: absolute;
    top: 60px;
    background-color: #fff;
    border: 2px solid rgba(221, 221, 221, 0.62);
    border-radius: 4px;
    z-index: 1000;
    padding: 0;
    margin: 0;
    display: none;
}
.dropdown-toolbar-content {
    display: block;
    width: 100%;
    padding: 15px;
    min-width: 70px;
    max-height: 300px;
    overflow: auto;
    min-width: 160px;
}
.dropdown-toolbar:after, .dropdown-toolbar:before {
    bottom: 100%;
    left:36px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.dropdown-toolbar-right.dropdown-toolbar:after, .dropdown-toolbar-right.dropdown-toolbar:before{
    left: auto;
    right: 36px;
}
.dropdown-toolbar:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 12px;
    margin-left: -12px;
}
.dropdown-toolbar:before {
    border-color: rgba(221, 221, 221, 0);
    border-bottom-color: rgba(221, 221, 221, 0.62);
    border-width: 15px;
    margin-left: -15px;
}
.dropdown-toolbar-right.dropdown-toolbar:after {
    border-bottom-color: #fff;
    border-width: 12px;
    margin-right: -12px;
}
.dropdown-toolbar-right.dropdown-toolbar:before {
    border-bottom-color: rgba(221, 221, 221, 0.62);
    border-width: 15px;
    margin-right: -15px;
}
.toolbar-row {
    clear: both;
    display: block;
    width: 100%;
    padding-bottom: 15px;
    overflow: hidden;
}
.toolbar-row:last-child {
    padding-bottom: 0;
}
.option-outline {
    width: 350px;
    float: left;
}
.outline-color {
    float: left;
    width: 70px;
    text-align: left;
}
.outline-color > span {
    clear: both;
    display: block;
    padding-bottom: 6px;
}
input#text-size {
    border: 0;
    height: 22px;
    width: 30px;
}
span.toolbar-line {
    border-left: 1px solid #ddd;
    height: 32px;
    margin-left: 12px;
    margin-right: 12px;
}
.dg-options-toolbar > *{float:left;vertical-align:top;position: relative;}
.dg-options-toolbar button.btn.toolbar-text{margin-top:0;padding:1px 6px;font-size:12px}
.dg-options-toolbar button.btn.toolbar-text i{position:relative;top:8px;left:-17px;color:#666}
.dg-options-toolbar button.btn.toolbar-font{width: auto;border-radius:0;color:#333;font-size:12px;margin-left:8px;padding-left:15px;padding-top:8px;padding-bottom:0}
.toolbar-font #txt-fontfamily{width:100%;float:left;text-align:left;margin-right:8px}
.idea-fields{display:none}
.dg-options-toolbar .list-colors {
    padding-top: 1px;
}
.dg-options-toolbar .list-colors #txt-color {
    border-radius: 4px;
    box-shadow: none;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    border: 0 none;
    float: left;
    border: 1px solid #ccc;
}
.product-detail-size{max-height:500px;overflow:auto}
#text-align,#text-style{margin-bottom:6px;text-align:center;padding-top:6px}
#text-align span.active,#text-style span.active{background-color:#ddd!important;border-radius:4px!important;box-shadow:none!important}
.dropdown-outline{display:inline-block;position:relative}
.dropdown-outline .dropdown-menu{margin-top:20px}
#popover-content .dg-options-content{position:absolute}
#enter-text {
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgba(63,70,82,0.11);
    box-shadow: none;
    float: left;
    height: 46px;
    outline: 0 none;
    overflow: hidden;
    padding: 6px;
    width: 100%!important;
}
.toolbar-text {
    float: left;
    position: relative;
    width: 100%;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    padding: 10px 6px;
}
.toolbar-text > i{color:#666;position:absolute;right:7px;top:9px}
.option-outline a.dropdown-color {
    border-radius: 4px;
    overflow: hidden;
    width: 28px;
    height: 28px;
    margin: 0;
    box-shadow: none;
    padding: 0;
    float: right;
    border: 1px solid #ccc;
}
.outline-size {
    float: right;
    width: 270px;
    position: relative;
}
.outline-size span {
    padding-bottom: 10px;
}
a.dg-outline-value {
    position: absolute;
    top: 0px;
    right: 0px;
}
#dg-outline-width {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #cacaca;
    box-shadow: none;
    height: 7px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 4px;
}
.option-outline a.dropdown-color span{position:relative;top:4px;left:5px;margin:0;padding:0}
.dropdown.dropdown-none{border:0!important;text-align:left!important;box-shadow:none!important;background:none!important}
.dropdown.dropdown-none .dropdown-toggle{padding-top:6px}
.dropdown-outline a.dg-outline-value{box-shadow:none;background-color:#fff;border:0;border-radius:3px;height:auto;margin:0;line-height:100%!important;width:auto;float:right}
.dropdown-outline a.dg-outline-value .outline-value{margin:0;padding:0}
.dropdown-outline #dg-outline-width{float:left;width:150px;margin-top:4px;margin-left:8px}
#dg-popover .dropdown span{margin-right:0;margin-top:1px}
.option-outline.dropdown-menu{min-width:260px;padding:8px 10px}
.option-outline.dropdown-menu > div{clear:both;display:block;width:100%;padding:6px 0;float:left;margin:0;border-radius:0}
.option-outline.dropdown-menu > div > span{float:left;font-size:12px;margin:0}
.rotate-value{width:30px;height:30px;border-radius:50%;border:1px solid #ccc;box-shadow:none;background:none;font-size:11px!important;overflow:hidden;display:inline-block;text-align:center}
.rotate{position:relative}
span.rotate-deg{position:absolute;top:4px;right:0;font-size:0;width:7px;height:7px;background-color:#fff;border:1px solid #ccc;border-radius:50%}
#options-add_item_text .toolbar-size {
    float: left;
    padding-left: 12px;
    padding-top: 6px;
}
#options-add_item_qrcode .toolbar-text {
    float: left;
    width: auto;
    border: 0;
    background: none;
    margin: 0px;
    padding: 0;
}
#dg-popover .dg-options-toolbar div.btn-convert-colors{
    padding-left: 20px;
    margin: 0;
    padding-top: 8px;
}
#convert-colors .list-colors-convertcolor {
    top: 0;
    padding-right: 10px;
    padding-left: 6px;
}
#dg-popover .dg-options-toolbar > div > div#crop-link-cus, #dg-popover .dg-options-toolbar > div > div#filter-link-cus {
    padding: 5px 15px 0 15px;
    cursor: pointer;
}
.dg-options{font-size:12px;position:relative;width:100%;padding-top:3px;float:left}
.toolbar-size input{width:36px;border:0;text-align:center;height:28px;line-height:30px;background:none;border-radius:4px}
.toolbar-size a.icon-ui-lock{overflow:hidden;margin:0 0 -4px;display:inline-block}
.mask-items-area .mask-item div{background-color:#fff;box-shadow: none;border:1px solid #ddd;border-radius:2px;box-shadow:none;display:block;height:22px;position:absolute;width:22px}
.ui-icon-gripsmall-diagonal-se{background-position:-175px -47px;bottom:-22px;right:-22px}
.item-rotate-on{right:-22px;top:-22px;cursor:pointer}
.mask-items-area .mask-item div.item-mask-move{color:#333;left:-22px;top:-22px}
.item-mask-remove-on{bottom:-22px;cursor:pointer;left:-22px}
.mask-items-area .mask-item div.item-mask-remove-on::before{display:inline-block}
.mask-items-area .mask-item div.item-mask-move::before{color:#333;font-size:12px;line-height:20px}
.mask-items-area .mask-item div.item-rotate-on::before{color:#333;font-size:12px;margin-top:0}
.product-prices button.btn-addcart i{font-weight:400;display:inline-block;padding-right:4px}
.div-layers{position:absolute;width:210px;left:56px;top:0;z-index:100;background-color:#fff;height:100%;border-right:1px solid #ebe9eb;display:none}
.div-layers span.title{display:block;font-size:12px;font-weight:700;overflow:hidden;padding:6px;background-color:#f1f1f1;border-top:1px solid #ebe9eb;border-bottom:1px solid #ebe9eb;line-height:24px}
.div-layers span.title a.close i,.div-layers span.title a.close i:before{font-size:16px;color:red}
.control-layers {
    float: left;
    padding-top: 15px;
    width: 100%;
}
#dg-layers {
    border: 0 none;
    border-radius:0;
    float: left;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    max-height: none;
}
#layers li.layer > *{font-size:12px;color:#666}
#layers li.layer.active{background:#fff;}
#layers li.layer.active{background:#f1f1f1;}
#layers li.layer img{margin-top:-4px}
#dg-modal{position:relative;z-index:100000}
#list-clipart-colors{float:left}
.dg-options-toolbar .list-colors{float:left}
.dg-options-toolbar .list-colors .dropdown-color{float:left;border-radius:4px;box-shadow:none;width:30px;height:30px;border:0;outline:none!important;margin:0 4px 0 0;padding:0;border:1px solid #ccc}
.dg-options-toolbar .list-colors .dropdown-color .ui-accordion-header-icon{margin-top:5px!important;margin-right:0!important;margin-left:5px;top:0;padding:0!important;right:0;left:0}
#item-print-colors{margin:0;padding:0;border:0;float:left}
#item-print-colors > div:first-child{display:none}
#item-print-colors > div:last-child{display:block;width:100%;padding-left:0}
#item-print-colors > div:last-child br{display:none}
#print-color-added.list-colors .bg-colors{border-radius:50%;border:0;box-shadow:none}
#print-color-edit{line-height:30px}
input#team-edit-number,input#team-edit-name{float:left;width:36px;padding:4px 6px;text-align:center;border:1px solid rgba(63,70,82,0.11);border-radius:4px;margin-right:8px}
input#team-edit-name{width:70px;text-align:left}
label.checkbox-group{margin:0;padding-top:3px;padding-right:15px;cursor:pointer}
label.checkbox-group strong{float:right;padding-top:3px;padding-left:4px}
#txt-team-fontfamly{min-width:90px;text-align:left}
#dg-popover .dg-options-toolbar button.btn.btn-link{border:0;padding:6px 8px;font-size:12px;background-color:#43B9D3;color:#fff;border-radius:3px;margin-left:6px}
#options-add_item_qrcode{min-height:auto;display:block}
textarea#enter-qrcode{border:1px solid rgba(63,70,82,0.11);resize:none;padding:6px;height:32px;border-radius:3px}
#qrcode-img{float:left;padding-top:0;margin-top:-4px;margin-left:15px}
#qrcode-img img{max-height:40px;padding:0;border:0;background:none}
@media only screen and (max-width: 1024px) and (min-width: 770px) {
div#dg-help-functions{bottom:0;left:0;text-align:center;width:100%;top:auto!important}
}
.design_ideas_element a i{margin-top:-15px}
#dg-popover .dg-options-toolbar > div > div { float: left;padding-left: 0;vertical-align: middle;height: auto; }
#filter-link-cus { padding-top: 7px; cursor: pointer;}
ul.header-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.header-menu li{
	float: left;
	padding-right: 35px;
}
.menu-options {
    position: absolute;
    width: 320px;
    top: 62px;
    left: 76px;
    bottom: 0px;
    background-color: #fff;
    z-index: 10;
    border-right: 1px solid #ddd;
}
.option-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
#dg-obj-clipart .option-panel{
 padding-bottom: 32px;
}
a.panel-colose {
    position: absolute;
    top: 0px;
    right: -34px;
    color: #333;
    z-index: 1000000;
    padding: 8px 10px;
    background-color: #ddd;
}
a.panel-colose i:before {
    font-size: 14px;
}
.option-panel-content {
    clear: both;
    display: block;
    max-height: 100%;
    padding: 0 15px;
    color: #666;
    text-align: left;
    overflow: auto;
    margin-top: 15px;
}
.option-panel.active {
    z-index: 100000;
    display: block;
}
.option-panel-heading {
    font-size: 18px;
    margin-bottom: 0;
    text-align: left;
    padding: 10px 15px;
    margin: 0;
}
.product-colors-design {
    float: left;
    width: 100%;
    text-align: left;
}
.product-colors-design div#e-change-product-color {
    margin-left: 0px;
    padding-left: 0px;
}
.colors-sizes-used {
    float: left;
    width: 100%;
    z-index: 10;
}
.colors-sizes-used > div {
    float: left;
    padding-bottom: 6px;
    width: 50%;
}
.colors-sizes-used > div > span {
    padding-bottom: 6px;
    display: inline-block;
}
.paper {
    height: 32px;
    margin-top: 0;
}
#sizes-used .text-center {
    display: inline-block;
    position: relative;
    width: auto;
    cursor: pointer;
    margin:4px 0px;
}
#sizes-used .text-center:first-child {
    margin-left: -3px;
}
#sizes-used .text-center > strong {
    position: absolute;
    font-size: 11px;
    font-weight: 300;
    top: -23px;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    left: -10px;
    right: 0px;
    color: #fff;
    height: 20px;
    padding: 2px 4px;
    width: 50px;
    border-radius: 2px;
}
#product-details.ps-container {
    max-height: 400px;
}
#sizes-used .text-center:hover > strong{
	display: block;
}

.colors-sizes-used .color_used div#colors-used {
    float: left;
    padding: 0;
}
.colors-sizes-used .color_used div#colors-used span.bg-colors {
    padding: 0;
    margin: 0;
        width: 24px;
    border: 0;
    height: 24px;
}
#sizes-used .text-center br{
	display: none;
}
div#photo-filters {
    width: 390px;
    overflow: auto;
}
span.photo-filter {
    width: auto;
    height: 70px;
    float: left;
    border: 1px solid #ddd;
    overflow: hidden;
    margin: 4px;
    cursor: pointer;
}
#cropModal .modal-body {
    padding: 0;
}
span.photo-filter canvas {
    height: 100%;
    width: auto;
    max-width: 100%;
}
#clear-color-link-smp small.clearfix {
    display: inline;
    clear: none;
    float: right;
    font-size: 12px;
    padding-left: 6px;
}
#artColorAreaChange div.areaColorSel {
    margin-right: 30px;
}
div#product-details {
    clear: both;
    display: inline-block;
    width: 100%;
}
.product-cart {
    clear: both;
    overflow: hidden;
    padding: 15px 12px;
    display: block;
    width: 100%;
}
#right-options .product-prices {
    padding: 0;
    border-top: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    bottom: -19px;
    border-radius: 0 0 3px 3px;
}
.dg-poduct-fields .radio-inline, .dg-poduct-fields .checkbox-inline {
    padding-left: 22px;
    margin-right: 15px;
    margin-left: 0;
    padding-bottom: 6px;
}
#printing-type {
    padding-top: 10px;
    padding-left: 0;
    padding-bottom: 12px;
}
.option-panel-product .products-detail {
    position: relative;
    width: 100%;
    display: inline-block;
}
.option-panel-product .product-detail-right {
    display: inline-block;
    width: 180px;
    float: right;
}
.option-panel-product .view_change_products {
    position: absolute;
    bottom: 0px;
}
.toolbar-texts {
    margin-right: 12px;
}
body.hide-menu div#dg-popover {
    left: 76px;
}
body.hide-menu .div-design-area#design-area {
    width: calc(100% - 46px);
}
.dg_screen .header-logo a.dg-tool-fullscreen {
    display: none;
}
.header-logo a.dg-tool-fullscreen {
    display: block;
    font-size: 24px;
    padding-top: 12px;
}
.header-logo a.site-logo{
    display: none;
}
.dg_screen .header-logo a.site-logo{
    display: block;
}
ul.header-menu li ul.dropdown-menu li {
    text-align: left;
    float: none;
    padding: 0;
    font-size: 13px;
    line-height: 26px;
    font-weight: 300;
}
.tool-header .tools-btn button {
    text-transform: uppercase;
    margin-left: 15px;
    font-weight: 300;
    outline: none;
}
.product-prices .product-cart button{text-transform: uppercase; padding: 10px 15px;}
span.tools-price {
    font-size: 14px;
    font-weight: 300;
    border-left: 1px solid #666;
    position: relative;
    padding-left: 10px;
    margin-left: 10px;
    top: -7px;
    margin-bottom: -15px;
    height: 34px;
    line-height: 34px;
}
.tool-header .tools-btn button.btn-none {
    line-height: 18px;
    font-weight: 300;
    text-transform: none;
    margin-top: 0;
    padding-top: 0;
}
button[onclick="show_cartoption();"], button[onclick="show_cartoption();"] > * {display: flex;}
button[onclick="show_cartoption();"] .flaticon-shopping-cart-3 { margin-right: 5px; }
.dropdown-toolbar-effect menu.dropdown-toolbar, .dropdown-toolbar-effect .toolbar-row, .dropdown-toolbar-effect .dropdown-toolbar-content { overflow: unset; }
ul.menu-item-tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    width: 100%;
    height: auto;
}
ul.menu-item-tabs > li, ul#upload-tabs > li {
    float: left;
    border:0!important;
    margin: 0!important;
    padding:0!important;
    opacity: 0.5;
}
ul.menu-item-tabs > li.active {
    opacity: 1;
}
ul.menu-item-tabs > li > a, ul#upload-tabs > li a {
    padding: 0;
    float: left;
    border-radius: 3px;
    color: #666;
    font-weight: 400;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    text-decoration: none;
}
ul.menu-item-tabs > li > a.last-child{
    margin-right: 0;
}
ul.menu-item-tabs > li > a i {
    font-size: 22px;
    color: #666;
}
ul.menu-item-tabs > li > a span {
    clear: both;
    display: block;
    line-height: 24px;
}
input#files-upload {
    display: none;
}
form#files-upload-form {
    position: relative;
    margin-top: 15px;
}
.upload-content {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #666;
    font-size: 10px;
    bottom: 34px;
    z-index: 1;
}
.upload-content > i {
    display: inline-block;
}
.upload-content > i:before {
    font-size: 42px;
}
.text-light {
    font-weight: normal;
}
div#drop-area {
    border: 2px dashed #ddd;
    width: 100%;
    height: 180px;
    position: relative;
    z-index: 100;
    cursor: pointer;
}
div#drop-area.over {
    background-color: rgba(0, 0, 0, 0.3);
}
div#drop-area:hover {
    border-color: #3E454F;
}
#dag-files-images .view-thumb {
    cursor: pointer;
    margin: 0 6px 8px 0;
    position: relative;
    float: left;
    overflow: hidden;
    height: 90px;
    width: 90px;
    border: 1px solid #ddd;
    text-align: center;
    display: flex;
}
#dag-files-images .view-thumb img.img-thumbnail {
    max-height: 100%;
    padding: 0;
    margin: auto;
    max-width: 100%;
    border-radius: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
}
#dag-files-images {
    overflow: hidden;
    height: auto;
    max-height: none;
}
form#files-upload-form.upload-disabled div#mask-drop-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
form#files-upload-form.upload-disabled .upload-content{
    opacity: 0.3;
}
.progress.progress-bar-container {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 13px;
    border-radius: 0;
    line-height: 13px;
}
.progress.progress-bar-container .progress-bar {
    font-size: 9px;
}
.mask-items-area .mask-item div.item-mask-remove-on, .mask-items-area .mask-item div.item-mask-move {
    display: none!important;
}
.mask-items-area .mask-item div.item-rotate-on {
    left: 0;
    bottom: -42px;
    top: auto;
    right: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    cursor: cell;
    background-color: #fff;
}
.mask-items-area .mask-item div.item-rotate-on:after {
    content: '';
    border-left: 1px dashed #333;
    position: absolute;
    bottom: 23px;
    left: 0px;
    width: 1px;
    height: 15px;
    right: 0;
    margin: auto;
}
.mask-items-area .mask-item div {
    background:#333;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.51);
    display: block;
    height: 12px;
    position: absolute;
    width: 12px;
}
.ui-icon-gripsmall-diagonal-se {
    right: -5px;
    bottom: -5px;
}
.mask-items-area .mask-item span.item-info, #dg-popover > .popover-title{
    display: none;
}
.img-frames{
    background-color: #f4cc55; 
}
.img-grids{
    background-color: #9772d4; 
}
.img-vectors{
    background-color: #e89848; 
}
.img-photo{
    background-color: #8ec370; 
}
.img-shapes{
    background-color: #db5b86; 
}
.img-background{
    background-color: #53c1ca; 
}
.img-lines{
    background-color: #5f99cd; 
}
.img-icons{
    background-color: #d3523e; 
}
.obj-footer {
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 32px;
    line-height: 30px;
    border-radius: 100%;
    width: 32px;
    text-align: center;
    padding: 0 10px;
}
a.obj-scrolltop{
    color: #fff;
    text-decoration: none;
}
.input-group.art-box-search, .input-group.box-search{
    float: right;
    width: 100%;
    max-width: none;
}
.obj-header {
    width: 100%;
    border-top: 1px dashed #ccc;
    padding-top: 15px;
    display: inline-block;
}
.art-keyword-related, .idea-keyword-related {
    padding-left: 15px;
    display: inline-block;
    padding-top: 15px;
}
.top-list-keyword > a {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 8px 8px 0 0;
}
.obj-tab-content {
    position: relative;
    min-height: 300px;
}
.idea-keyword-related .btn, .list-keyword-related .btn {
    position: relative;
    margin-right: 16px;
    font-size: 12px;
    padding: 4px 8px;
}
.top-keyword {
    clear: both;
    padding: 15px;
    float: left;
    width: 100%;
    text-align: left;
}
.store-categories ul {
    margin: 0;
    padding: 0 15px;
    list-style: none;
}
.store-categories ul li {
    float: left;
}
.store-categories ul li a {
    float: left;
    background-color: #fff;
    padding: 4px 6px;
    margin: 0 10px 10px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #333;
}
#dag-list-store-arts div.box-art {
    margin: 10px 10px 0 0;
}
#dag-art-store-detail button.btn {
    border: 0;
}
div#store-pagination {
    display: none!important;
}
.box-art a.frame-img {
    background: #e6e7e9 url(../images/thumb_photo.jpg) no-repeat center center;
    background-size: 100% 100%;
    display: flex;
}
.frame-img img {
    opacity: 0.2;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}
.box-art.box-idea:hover .images-design {
    display: inline;
    width: 220px;
    height: 220px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 6px 3px #ddd;
    overflow: hidden;
    position: fixed;
    left: 400px;
    z-index: 100000;
    top: 20%;
}
div.box-art.box-idea {
    width: 140px;
    height: 140px;
    max-width: 140px;
    overflow: visible;
    cursor: pointer;
}
div.store-main-options {
    position: relative!important;
    top: 0;
}
div.box-art.box-idea:hover div.hide-hover {
    display: block;
}
.idea-store-detail, div#dag-art-store-detail{
    position: fixed;
    width: 319px;
    right: auto;
    left: 76px;
    top: 196px;
    height: auto;
    bottom: 0;
    background-color: #f1f1f1;
    border-radius: 0;
    overflow: hidden;
    border-top: 1px dashed #ddd;
}
.idea-store-detail .col-sm-6, div#dag-art-store-detail .col-sm-6{
    width: 100%;
}
.idea-store-detail .col-sm-6:last-child, div#dag-art-store-detail .col-sm-6:last-child{
    padding: 0 30px;
}
#dag-art-store-detail img {
    max-width: 100%;
    margin: 0 auto;
    max-height: none;
}
.dag-store-ideas .box-art.box-idea {
    margin: 10px 10px 0 0;
}
.design-area .drag-item:focus g {
    outline: rgba(0,0,0,.4) dashed 1px!important;
}
.design-area .drag-item:focus text {
    outline: none!important;
}
.list-colors .bg-colors {
    height: 39px;
    width: 39px;
    margin: 0;
    border: 0;
}
.obj-main-content {
    display: inline-block;
    width: 300px;
}
#dg-obj-icons .obj-main-content .box-art {
    width: 50px;
}
#dg-obj-shapes .obj-main-content .box-art{
    width: 90px;
}
#dg-obj-icons .obj-main-content img {
    max-width: 94%;
    max-height: 94%;
}
.option-panel-product .option-panel-content {
    max-height: calc(100% - 107px);
}
ul#upload-tabs {
    clear: both;
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul#upload-tabs > li {
    width: 33.33%;
    background: none;
}
#upload-tabs>li.active {
    opacity: 1;
}
ul#upload-tabs > li a i {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    border-radius: 4px;
    font-size: 36px;
    line-height: 80px;
    color: #fff;
}
ul#upload-tabs > li a.bg-upload-facebook i{
    background: #4267b2;
}
ul#upload-tabs > li a.bg-upload-conputer i{
    background: #e89848;
}
ul#upload-tabs > li a.bg-upload-instagram i{
    background: #bd3381;
}