/*
Theme Name: Bolt
Theme URI: http://wordpress.magikthemes.com/Bolt
Author: MagikCommerce
Author URI: http://www.magikcommerce.com/
Description: Bolt wordpress Theme
Version: 2.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns,  left-sidebar,accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: bolt
*/
/* TABLE OF CONTENTS

1.      BODY
2.      LAYOUT
2a.     Base Columns
2b.     1 Column Layout
2c.     2 Column Layout
2d.     3 Column Layout


*/
/* BEGIN OF STYLING */

/* 1. BODY */
body {
	color: #333;
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
	padding: 0;
	margin: auto;
	line-height: 1.55;
}
/*a {
	color: #333;
	*/text-decoration: none;
}
/*a:hover, a:focus {
	color: #0aa2ee;
	text-decoration:none;
}*/
legend {
	display: none;
}
/* 2.  LAYOUT */


/* 2a. Base Columns */
.col-left {
	margin-bottom: 0px;
}
.col-main {
}
.col-right {
	margin-bottom: 0px;
}
/* 2b. 1 Column Layout */
.col1-layout .header-background-default {
	margin: 20px;
	padding: 0;
}
.col1-layout .col-main {
	float: none;
	width: auto;
}
/* 2c. 2 Column Layoutt */
.col2-left-layout .col-main {
}
.col2-right-layout .col-main {
}
.col2-right-layout ol.opc .col-md-4 {
	margin-right: 15px;
}
/* 2d. 3 Column Layout */
.col3-layout .col-main {
}
.col3-layout .col-wrapper {
	float: left;
	width: 780px;
}
.col3-layout .col-wrapper .col-main {
	float: right;
}
.product-essential .variations_form .variations {
	margin-bottom: 10px;
}

.page-editlink
{
margin-top: 10px;	
}


/* 1.1 chnage */

.magik-slideshow a.s-link{ position:absolute; top:0px; bottom:0px; left:0px; height:100%; width:100%;z-index:0;}
.home-revslider a.s-link{ position:absolute; top:0px; bottom:0px; left:0px; height:100%; width:100%;z-index:0;}

.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.imgitem a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.imgitem a span {
    display: none;
}

.mega-menu-category .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.imgitem a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.mega-menu-category .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.imgitem a span {
    display: none;
}




.yith-wcqv-main .product.has-default-attributes.has-children>.images {
    opacity: 1 !important;
}


/* new css added for version 1.2 */

#yith-quick-view-content .product-image {
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-left:  20px;
  width: 46% !important;
}
#yith-quick-view-content div.summary {
  padding: 0;
  padding-top: 20px;
  float: right !important;
}

/* version 2.1 css */

.yith-woocompare-widget ul.products-list li .title
{
	margin-left: 25px;
}


.woocommerce .crosssel ul.products li.product, .woocommerce-page .crosssel ul.products li.product
{
	padding: 12px;
}



/* 2.2 CSS UPDATEDS */



.woocommerce div.product div.images .woocommerce-product-gallery__wrapper .zoomImg {
    background-color: #fff;
    opacity: 1 !important;
}

.woocommerce div.product form.cart table.group_table td:first-child
{
  text-align: left;
}

.woocommerce ul.products li.first, .woocommerce-page .crosssel ul.products li.first
{
clear: none;
}

.woocommerce-widget-layered-nav-dropdown,.woocommerce.widget_rating_filter ul
{
padding: 12px 0px 0 !important;
}




/*  2.4 css */


.widget_layered_nav ul li a:before, .widget_layered_nav_filters ul li a:before {
line-height: 15px;
content: "";
font-family: FontAwesome;
display: inline-block;
left: 0;
top: 0;
font-size: 14px;
width: 16px !important;
height: 16px !important;
border: 1px #ccc solid !important;
background-color: #fff;
color: #fff;
text-align: center;
margin-right: .618em;
float: left;
margin-top: 1px;
}
.woocommerce .widget_layered_nav ul li.chosen a:before {
content: "\f00c";
display: block;
font-family: FontAwesome;
font-size: 10px;
font-style: normal;
font-weight: normal;
line-height: 15px;
border: 1px #337ab7 solid !important; 
color: #337ab7 !important;
}
.woocommerce .widget_layered_nav ul li a:hover {
color: #337ab7;
}

.woocommerce .widget_layered_nav ul li 
{
  margin-bottom:6px;
}
.woocommerce .widget_layered_nav ul li:last-child
{
  margin-bottom:0px;
}
.woocommerce .widget_layered_nav_filters ul li a::before
{
line-height: 16px;
content: "\f068";
font-family: FontAwesome;
display: inline-block;
left: 0;
top: 0;
font-size: 12px;
width: 16px !important;
height: 16px !important;
border: 1px #ccc solid !important;
background-color: #fff;
color: #337ab7 !important;
text-align: center;
margin-right: .618em;
float: left;
margin-top: 1px;  
}


.select2-container--default .select2-selection--single
{
  border-radius: 0px !important;
  border: 1px solid #ccc !important;
}


/*2.5  CSS */

.logo .logo-title
{
      font-size: 22px;
    color: #fff;
    font-weight: 700;
}




.woocommerce div.product form.cart .group_table td:first-child
{
    width: auto !important;
}

.woocommerce div.product form.cart .group_table td ins .amount
{
    font-size: 14px;
}


/* 2.6 CSS */

.woocommerce .category-products .products ul
{
  clear: none;
}


.blog .container .col-md-12 .has-img img
{
width:100%;
}

.blog .col1-layout, .blog .col2-left-layout {
    margin-top: 0px;
    padding-top: 20px;
}


.blog .col1-layout .col-main , .blog .col2-left-layout .col-main {
  background: inherit !important;
    border: none !important;
    padding: 0px !important;
}

.woocommerce div.product form.cart .variations td
{
  float:left;
}
.woocommerce div.product form.cart .variations td.value
{

margin-left:20px
}


.woocommerce .category-products ul.products-grid.products
{
  margin: 0 -15px;
}



.single-product.woocommerce .timer-grid .box-time-date {

  font-size: 9px;
  color: #808080;
  min-width: 85px;
  min-height: 65px;
  text-align: center;
  margin: 7px 15px 7px 0px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px #e8e8e8 solid;
  display: inline-block;
}
.single-product.woocommerce .timer-grid .box-time-date span {
  color: #808080 !important;
}
.single-product.woocommerce .box-timer {
  position: relative;
  bottom: 0px;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  display: inline-block;
  color: #808080;
}
.single-product.woocommerce .box-timer .timer-grid {
  margin-bottom: 0px;
}
.single-product.woocommerce .product-timer-box {
  padding: 8px 0px;
  border-bottom: 1px #ccc dotted;
}
.single-product.woocommerce .timer-grid .box-time-date span {
  display: block;
  font-size: 20px;
  color: #808080;
  margin-top: 8px;
  font-weight: 600;
}



@media only screen and (min-width: 320px) and (max-width: 479px) {
  .single-product.woocommerce .timer-grid .box-time-date {
min-width:65px;
  min-height: 55px;

  }
  .single-product.woocommerce .timer-grid  .box-time-date span {
  
  font-size: 14px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 992px) {
  .single-product.woocommerce .timer-grid .box-time-date {
min-width:65px;
  min-height: 60px;

  }
  
  }

  .products-grid.products .button.yith-wcqv-button
  {
    display: none;
  }

  .static-contain .products-grid .item .item-inner .item-img .item-box-hover .product-detail-bnt a
  {
    padding: 11px 0px !important;
  }

  .products-grid .item .item-inner .item-info .desc.std
  {
display: none;
  }

  .woocommerce .category-products ul.products-grid.products {
    margin: 0 -15px;
}

.single-product.woocommerce .timer-grid  .day.box-time-date, .single-product.woocommerce .timer-grid  .day.box-time-date span 
{
  color: #fff !important;
  }

  .mgk-main-menu .mega-menu li.menu-item.menu-item-type-custom
  {
    display: block;
  }    #cboxClose{	  top:0;  }